@page  
{
    /* this affects the margin in the printer settings */ 
    margin: 10mm 20mm 0mm 20mm;  
} 

body {
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	
	
}

.title {
	width:900px;
	overflow:hidden;
}

.name {
	width:180px;
	padding:15px;
	
	display:inline-block;
}

.address {
	line-height:20px;
	padding:10px;
	
	padding-left:130px;
	
	width:190px;
	
	display:inline-block;
}

.blackLine {
	
	background-color:#000;
	color:#000;
	
	display:block;
	
	width:99%;
	height:1px;
	float:right;
}

.section {
	line-height:20px;
	padding:10px;
	width:850px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-top: 10px;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    line-height:30px;
} 

ul.embedded {
	list-style-type: circle;
}

h2 {
	padding:5px;
	font-size: 14pt;
}

h1 {
	font-size: 18pt;
	padding-bottom:5px;
}

a {
	color:BLACK;
	line-height:20px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}


b {
	font-weight:bold;
}




/* Print styles */
@media print 
{
    tr, td, th {page-break-inside:avoid}
    thead {display:table-header-group}
    .NoPrint {visibility:hidden; display:none}
    a {color:#000000}
}
